*{
    margin: 0;
    padding: 0;
}

:root{ /*animação cor light*/

    --primary-color:#edf2fc;
    --second-color:#212121;
  
}
.dark-theme{/*animação cor dark*/
    --primary-color:#000106;
    --second-color:#fff;
}

.hero{
    height: 100vh;
    width: 100%;
    background:var(--primary-color);
    font-family: sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
    color: #ff4321;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--second-color);
}
nav ul li a:hover{
    color: #ff4321;
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    color: var(--second-color);
    margin-bottom: 20px;
}
span{
    color: #ff4321;
}
.info p{
    color: var(--second-color);
    line-height: 22px;
}
.info a{
    background: var(--second-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    text-decoration: none;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;/*imagem em cima*/
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute; /*imagem em cima*/
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);/*animação foto*/
    transition: bottom 1.5s, left 1.5s;/*animação foto*/
    
}
.img-box:hover .back-img{/*animação foto*/
    bottom: 15px;
}
.img-box:hover .main-img{
    left: 56%;
}
.social-links{
    margin-left: 8%;
    margin-top: 100px;
}
.social-links a{
    font-size: 30px;
    color: var(--second-color);
    margin-right: 20px;
}
.social-links a:hover{
   color: #ff4331; 
}
#icon{
    width: 30px;
   cursor: pointer; 
}
nav ul {
    flex: 1;
    text-align: right;
}